<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stu.ihelp.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    <!-- SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- 撈取聯絡人權限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 網路權限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GPS定位權限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 電話 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        android:screenOrientation="landscape" >
        <activity
            android:name="com.stu.ihelp.client.IHelpActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonalData"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".General"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Contact"
            android:theme="@android:style/Theme.Dialog" />

        <receiver android:name="com.stu.tool.receiverSMS" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>